<!-- Single Page Header start -->
<div class="container-fluid  py-5">

</div>
<!-- Single Page Header End -->


<!-- Single Page Header start -->
<div class="container-fluid  py-5">

</div>
<!-- Single Page Header End -->
<!-- event-update.component.html -->

<form  (ngSubmit)="updateEvent()">
    <div class="form-group">
        <label>Title:</label>
        <input type="text" class="form-control"  [(ngModel)]="updatedEvent.title" name="title">
        
    </div>
    <div class="form-group">
        <label>Topic:</label>
        <input type="text" class="form-control" [(ngModel)]="updatedEvent.topic" name="topic">
    </div>
    <div class="form-group">
        <label>Date:</label>
        <input type="date" class="form-control" [(ngModel)]="updatedEvent.date" name="date" [min]="getTodayDate()">
    </div>
    <div class="form-group">
        <label>Location:</label>
        <input type="text" class="form-control" [(ngModel)]="updatedEvent.location" name="location">
    </div>
    <!-- <div class="form-group">
        <label>Type:</label>
        <input type="text" class="form-control" [(ngModel)]="updatedEvent.type" name="type">
    </div> -->
    <div class="form-group">
        <label for="type">Type:</label>
        <!-- Remplacez l'entrée de texte par le menu déroulant -->
        <select id="type" class="form-control" [(ngModel)]="updatedEvent.type" name="type">
            <option value="NewMenuIdea">New Menu Idea</option>
            <option value="CulinaryEvent">Culinary Event</option>
            <option value="Tasting">Tasting</option>
            <option value="SeasonalPromotion">Seasonal Promotion</option>
            <option value="Awareness">Awareness</option>
            <option value="Other">Other</option>
        </select>
    </div>
    
   
     
    <button type="submit" class="btn btn-primary">Update Event</button>
    <!-- <button role="button" mat-icon-button class="button-3" (click)="goBack()"> Go back </button> -->
</form>
