<form class="login100-form validate-form">
    <span class="login100-form-title p-b-43">
        ESPREAT
    </span>
    
    
    <div class="wrap-input100 validate-input" data-validate = "Valid email is required: ex@abc.xyz">
        <input [formControl]="password" class="input100 has-val" type="password" name="email">
        <span class="focus-input100"></span>
        <span class="label-input100">New Password</span>
    </div>
    
    
    <div class="wrap-input100 validate-input" data-validate="Password is required">
        <input [formControl]="confirmPassword" class="input100 has-val" type="password" name="pass">
        <span class="focus-input100"></span>
        <span class="label-input100">Confirm Password</span>
    </div>
    <div class="container-login100-form-btn">
        <button class="login100-form-btn" (click)="submit()" >
            Reset Password
        </button>
    </div>

</form>
