<form [formGroup]="dishForm" class="container" style="margin-top: 200px;" (ngSubmit)="createDish()">
  <H1>Create new Dish</H1>
  <div class="mb-3">
    <label for="name">Name:</label>
    <input type="text" class="form-control" id="name" name="name" formControlName="name" [(ngModel)]="newDish.name">
    <div *ngIf="dishForm.get('name')?.invalid && (dishForm.get('name')?.dirty || dishForm.get('name')?.touched)" class="text-danger">
      <div *ngIf="dishForm.get('name')?.errors?.['required']">Name is required.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="description">Description:</label>
    <textarea class="form-control" id="description" name="description" formControlName="description" [(ngModel)]="newDish.description"></textarea>
    <div *ngIf="dishForm.get('description')?.invalid && (dishForm.get('description')?.dirty || dishForm.get('description')?.touched)" class="text-danger">
      <div *ngIf="dishForm.get('description')?.errors?.['required']">Description is required.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="price">Price:</label>
    <input type="number" class="form-control" id="price" name="price" formControlName="price" [(ngModel)]="newDish.price">
    <div *ngIf="dishForm.get('price')?.invalid && (dishForm.get('price')?.dirty || dishForm.get('price')?.touched)" class="text-danger">
      <div *ngIf="dishForm.get('price')?.errors?.['required']">Price is required.</div>
      <div *ngIf="dishForm.get('price')?.errors?.['min']">Price must be a positive number.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="photo">Photo:</label>
    <input type="file" class="form-control" id="photo" name="photo" (change)="handlePhotoInput($event)" accept="image/*" formControlName="photo">
    <img id="photoPreview" [src]="newDish.photo ? 'assets/images/' + newDish.photo : ''" alt="Photo Preview" class="img-thumbnail" style="max-width: 200px; max-height: 200px;">
    <div *ngIf="dishForm.get('photo')?.invalid && (dishForm.get('photo')?.dirty || dishForm.get('photo')?.touched)" class="text-danger">
      <div *ngIf="dishForm.get('photo')?.errors?.['required']">Photo is required.</div>
    </div>
  </div>
  
  <div class="mb-3">
    <label for="category">Category:</label>
    <select class="form-control" id="category" name="category" formControlName="category" [(ngModel)]="newDish.category">
      <option *ngFor="let category of categoryOptions" [value]="category">{{ category }}</option>
    </select>
    <div *ngIf="dishForm.get('category')?.invalid && (dishForm.get('category')?.dirty || dishForm.get('category')?.touched)" class="text-danger">
      <div *ngIf="dishForm.get('category')?.errors?.['required']">Category is required.</div>
    </div>
  </div>
  <div class="mb-3">
    <label for="restaurant">Restaurant:</label>
    <select class="form-control" id="restaurant" name="restaurant" formControlName="restaurant" [(ngModel)]="newDish.restaurant">
      <option *ngFor="let restaurant of restaurants" [ngValue]="restaurant">{{ restaurant.name }}</option>
    </select>
    <div *ngIf="dishForm.get('restaurant')?.invalid && (dishForm.get('restaurant')?.dirty || dishForm.get('restaurant')?.touched)" class="text-danger">
      <div *ngIf="dishForm.get('restaurant')?.errors?.['required']">Restaurant is required.</div>
    </div>
  </div>
  <div class="d-flex justify-content-between">
    <button class="btn btn-secondary" (click)="goBack()">Go Back</button>
    <button type="submit" class="btn btn-primary">Create Dish</button>
  </div>
</form>
