    <!-- Single Page Header start -->
    <!-- Single Page Header End -->


    <!-- Contact Start -->
    <div >
        <div class="container py-5">
            <div class="p-5 bg-light rounded">
                <div class="row g-4">
                    <div class="col-12">
                        <div class="text-center mx-auto" style="max-width: 700px;">
                            <h1 class="text-primary">Get in touch</h1>
                            
                        </div>
                    </div>
                    <div class="col-lg-12">
                        <div class="h-100 rounded">
                            <iframe class="rounded w-100" 
                            style="height: 400px;" src="https://maps.google.com/maps?width=100%25&amp;height=600&amp;hl=en&amp;q=Zone%20Industrielle%20Chotrana%20II,%20B.P.%20160%20P%C3%B4le%20Technologique%20El%20Ghazela%202083%20Ariana%20Tunis%D8%8C%202083+()&amp;t=&amp;z=16&amp;ie=UTF8&amp;iwloc=B&amp;output=embed" 
                            loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
                        </div>
                    </div>
                    <div class="col-lg-7">
                        <form [formGroup]=" contactFrom">
                            <div class="invalid-feedback">
                                <span *ngIf="contactFrom.get('name')?.invalid && contactFrom.get('name')?.touched">Invalid  name.</span>
                            </div> 
                            <input type="text" formControlName="name" class="w-100 form-control border-0 py-3 mb-4" placeholder="Your Name" [ngClass]="{'is-invalid': contactFrom.get('name')?.touched && contactFrom.get('name')?.invalid}">
                            <div class="invalid-feedback">
                                <span *ngIf="contactFrom.get('mail')?.invalid && contactFrom.get('mail')?.touched">Invalid  Email.</span>
                            </div>    
                            <input type="email" formControlName="mail" class="w-100 form-control border-0 py-3 mb-4" placeholder="Enter Your Email" [ngClass]="{'is-invalid': contactFrom.get('mail')?.touched && contactFrom.get('mail')?.invalid}" >
                            <div class="invalid-feedback">
                                <span *ngIf="contactFrom.get('message')?.invalid && contactFrom.get('message')?.touched">Invalid  Message.</span>
                            </div> 
                            <textarea  formControlName="message" class="w-100 form-control border-0 mb-4" rows="5" cols="10" placeholder="Your Message" [ngClass]="{'is-invalid': contactFrom.get('message')?.touched && contactFrom.get('message')?.invalid}"></textarea>
                            
                            <button class="w-100 btn form-control border-secondary py-3 bg-white text-primary " type="submit" (click)="addContact()" [disabled]="contactFrom.invalid">Submit</button>
                        </form>
                    </div>
                    <div class="col-lg-5">
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-map-marker-alt fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Address</h4>
                                <p class="mb-2">1, 2 rue André Ampère - 2083 - Pôle Technologique - El Ghazala.</p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded mb-4 bg-white">
                            <i class="fas fa-envelope fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Mail Us</h4>
                                <p class="mb-2">Espreat.saccessgroup@gmail.com</p>
                            </div>
                        </div>
                        <div class="d-flex p-4 rounded bg-white">
                            <i class="fa fa-phone-alt fa-2x text-primary me-4"></i>
                            <div>
                                <h4>Telephone</h4>
                                <p class="mb-2">(+0216) 29 029 702</p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Contact End -->